/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  font:               "Fira Code 12";
}
@import "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
